.experience-container {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  z-index: 1;
  /* For development to see page boundaries, remove later */
  /* border: 1px solid white; */
}

.header {
  font-size: 2.5rem;
  font-family: "Karla";
  color: var(--white);
}

.content {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.selector-list {
  display: flex;
  flex-direction: column;
}

.selector-buttons {
  width: 150px;
  font-size: 1.5rem;
  color: var(--light-purple);
  background: none;
  border: none;
  padding: 10px 0px;
  font-family: "Karla";
  font-weight: 600;
  cursor: pointer;
  border-left: 2px solid var(--light-purple);
  transition: border 0.2s ease-in-out;
}

.selector-buttons:hover {
  background: #9daaf220;
}

.active-button {
  color: var(--white);
  border-left: 4px solid var(--yellow);
}

.experience-info {
  padding: 10px 0px;
}

.info-header {
  font-size: 1.5rem;
  color: var(--white);
  font-family: "Karla";
  font-weight: 600;
}

.info-paragraph,
.task-list {
  font-size: 1rem;
  color: var(--purplish-white);
  font-family: "Karla";
  font-weight: 400;
  margin: 20px 0px;
}

.task-list ul {
  list-style-type: none;
}

.task-list ul li {
  margin-bottom: 10px;
}

.task-list ul li:before {
  content: " ‣ ";
  color: var(--light-purple);
}

@media screen and (max-width: 768px) {
  .experience-container {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .selector-list {
    flex-direction: row;
    justify-content: center;
  }

  .header {
    font-size: 2rem;
  }

  .selector-buttons {
    font-size: 1.25rem;
    border-left: none;
    border-bottom: 2px solid var(--light-purple);
  }

  .info-header {
    font-size: 1.25rem;
  }

  .active-button {
    border-bottom: 4px solid var(--yellow);
  }

  .experience-info {
    text-align: center;
    padding: 10px 0px;
  }
}
