.header {
  height: 70px;
  width: 100%;
  background-color: #18223c;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: transform 0.4s ease;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header.hidden {
  transform: translateY(-100%);
}

.header.glass {
  background: #18223c90;
  backdrop-filter: blur(5px);
}

.linksContainer {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  color: white;
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.navLinks:hover {
  color: var(--light-purple);
}

#logo {
  height: 40px;
  aspect-ratio: 1;
}

#logo path,
#logo polygon {
  fill: var(--white);
}

#logo path:hover,
#logo polygon:hover {
  fill: var(--light-purple);
}

#resumeButton {
  padding: 10px 20px;
  background-color: #f4db7d;
  color: #18223c;
}

@media screen and (max-width: 768px) {
  .linksContainer {
    display: none;
  }

  .header {
    padding: 0px 20px;
  }
}
