.sidebar-wrapper {
  display: none;
}

.sidebar {
  height: 100vh;
  width: 60%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  background-color: var(--secondary-blue);
  z-index: 3;
}

.links-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  color: var(--white);
  font-family: "Karla";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-links:hover {
  color: var(--light-purple);
}

.mobile-toggle-button {
  position: relative;
  font-size: 40px;
  cursor: pointer;
  color: var(--white);
  z-index: 4;
}

.hidden {
  /* transform: translateX(100%); */
  display: none;
}

#resume-button {
  padding: 10px 20px;
  background-color: var(--yellow);
  color: var(--secondary-blue);
}

@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    display: block;
  }
}
