.social-container {
  position: fixed;
  height: 150px;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icons {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .social-container {
    display: none;
  }
}
